*{
    padding: 0;
    margin: 0;
}
#nineWrap{
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: #EEE;
    margin:.2rem auto;
}
#nineWrap .pic-wrap{
    position: absolute;
    width: 2rem;
    height: 2rem;
    transition: all 300ms linear;
    text-align: center;
    line-height: 2rem;
    font-size: 12px;
}
.pic-wrap0{
    top:0;
    left:0rem;
}
.pic-wrap1{
    top:0;
    left:2rem;
}
.pic-wrap2{
    top:0;
    left:4rem;
}
.pic-wrap3{
    top:2rem;
    left:0;
}
.pic-wrap4{
    top:2rem;
    left:2rem;
}
.pic-wrap5{
    top:2rem;
    left:4rem;
}
.pic-wrap6{
    top:4rem;
    left:0;
}
.pic-wrap7{
    top:4rem;
    left:2rem;
}
.pic-wrap8{
    top:4rem;
    left:4rem;
}
#countWrap{
    width: 6rem;
    height: 3rem;
    margin:.3rem auto 0;
    overflow: hidden;
}
#countWrap div{
    float: left;
    width: 3rem;
    height: 3rem;
}
#countWrap .view-wrap img{
    width: 3rem;
    height: 3rem;
}
#countWrap .con-wrap{
    text-align: center;
    font-size: 15px;
}
#countWrap .con-wrap span{
    display: inline-block;
    margin-top: .5rem;
}
a{
    -webkit-touch-callout:default;
}
#countWrap .con-wrap button{
    display: block;
    width: 2.5rem;
    margin: .2rem auto 0;
    line-height: .5rem;
    border:1px solid #000;
    border-radius: 4px;
}